.title {
  text-align: center;
  color: gray;
}
.mb-3 {
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.inputSearch {
  max-width: 500px;
  width: 100%;
  text-align: center;

  /* margin: auto; */
}
h1 {
  /* color: red */
}
.results {
  text-align: center;
  display: none;
}
.noResults {
  display: none;
  text-align: center;
}
.lat-lng {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.lat,
.lng {
  max-width: 400px;
  width: 100%;
  min-height: 100%;
}
.latAndLng {
  /* display: block; */
}
.noLatOrLng {
  display: none;
}
.searchTitle {
  text-align: center;
}
